*{
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: aliceblue;
}
main{display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    padding:40px;
    background-color: white;
    min-width: 600px;
    text-align: center;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    color: rgb(25, 91, 145);
    font-weight: bold;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    margin-bottom: 40px;
}
.button-div{
    text-align: center;
}
button{
    background-color: cornflowerblue;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    margin-bottom: 40px;
}
.quiz-container{
    visibility: hidden;
}
/* need to toggle visibility on button and quiz container when they click start*/